In [83]:

with open (r"noc_regions.csv", "r") as fp:  #python196.33.com
    for count, line in enumerate(fp): 
        pass 
    
    
    print (f"Det finns {count + 1} länder i datan")

Det finns 231 länder i datan

In [20]:
import pandas as pd

df = pd.read_csv("noc_regions.csv")
df["NOC"]

0      AFG
1      AHO
2      ALB
3      ALG
4      AND
      ...
225    YEM
226    YMD
227    YUG
228    ZAM
229    ZIM
Name: NOC, Length: 230, dtype: object

In [61]:
df2 = pd.read_csv("athlete_events.csv")

antalsport = df2["Sport"].unique()


for x in antalsport:
    count + 1
    print (x)

Basketball
Judo
Football
Tug-Of-War
Speed Skating
Cross Country Skiing
Athletics
Ice Hockey
Swimming
Badminton
Sailing
Biathlon
Gymnastics
Art Competitions
Alpine Skiing
Handball
Weightlifting
Wrestling
Luge
Water Polo
Hockey
Rowing
Bobsleigh
Fencing
Equestrianism
Shooting
Boxing
Taekwondo
Cycling
Diving
Canoeing
Tennis
Modern Pentathlon
Figure Skating
Golf
Softball
Archery
Volleyball
Synchronized Swimming
Table Tennis
Nordic Combined
Baseball
Rhythmic Gymnastics
Freestyle Skiing
Rugby Sevens
Trampolining
Beach Volleyball
Triathlon
Ski Jumping
Curling
Snowboarding
Rugby
Short Track Speed Skating
Skeleton
Lacrosse
Polo
Cricket
Racquets
Motorboating
Military Ski Patrol
Croquet
Jeu De Paume
Roque
Alpinism
Basque Pelota
Aeronautics

In [84]:

medaljtyper = df2["Medal"].dropna().unique()

for x in medaljtyper:
    count += 1
    print(x)

Gold
Bronze
Silver

In [ ]:
df2["Age"].agg(["mean","median","min","max","std"])

mean      25.556898
median    24.000000
min       10.000000
max       97.000000
std        6.393561
Name: Age, dtype: float64

In [ ]:
#Vi valde frågan "vilket år samt i vilken stad OS spelades i?". 

listan = df2[['Year','City']]

listan.drop_duplicates(inplace=True)
x = listan.sort_values('Year')

x.style.hide(axis="index")

C:\Users\GranitIbishi\AppData\Local\Temp\ipykernel_8688\3290439905.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listan.drop_duplicates(inplace=True)